@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

body{
    font-family: 'Playpen Sans', cursive;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #fff1d2;
    margin: 0;
    padding: 0;
    background-image: url('../img/backdrop.jpg');
}


header, main, footer{
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
}


main{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}

